<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li><h1>Estudio 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos impedit unde dolores ipsa. Magnam, impedit veritatis ducimus exercitationem possimus dolorem enim eius autem iure, libero, omnis pariatur harum odit voluptates?</p>
        </ul>
        <ul>
            <li><h1>Estudio 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos impedit unde dolores ipsa. Magnam, impedit veritatis ducimus exercitationem possimus dolorem enim eius autem iure, libero, omnis pariatur harum odit voluptates?</p>
        </ul>
    </div>
    <div class="col-lg-1"></div>

</div>
