.row{
    padding:20px;
}
div{
    background-color: #d18dc6;
    text-align: center;
}
/*estilo de la foto de perfil*/
@media(min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px pink;
        left: 2%;
        top: 600px;
    }
}
@media(max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px pink;
        left: 35%;
        top: 630px;
    }
}
/*etiquetanombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}